@font-face{
    font-family: AdobeGothic;
    src: url("../fonts/AdobeGothicStd-Bold.otf");
    font-weight: bold;
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibri.ttf");
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibrib.ttf");
    font-weight: bold;
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibrii.ttf");
    font-style: italic;
}


.container {
    width: 1135px;
    margin: 0 auto;
}



.movies{
    margin: 30px 0;
}


.movies-grid { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
    text-align: left;
    font-size: 48px;
    color: #fff;
}
.card { 
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #000;
}
.card-image{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.card-double{
    grid-column: span 2;
    width: 430px;
    height: 200px;
}
.card-detail{
    grid-row: span 2;
    width: 200px;
    height: 430px;
}
.details {
    display: none;
}
.info {
    display: none;
}
.time-bar {
    display: none;
}
.title {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
 }
.likes {}
.comments { }
.downloads { }
.rating { }
.rel-date { }
.btn { }
.time-bar__bar { }