@font-face{
    font-family: AdobeGothic;
    src: url("../fonts/AdobeGothicStd-Bold.otf");
    font-weight: bold;
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibri.ttf");
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibrib.ttf");
    font-weight: bold;
}
@font-face{
    font-family: Calibri;
    src: url("../fonts/calibrii.ttf");
    font-style: italic;
}

.container {
    max-width: 1060px;
    margin: 0 auto;
}